In [1042]:
import pandas as pd

In [1043]:
df_cohort = pd.read_csv('../../data/cohortedData.csv')
df_cohort

,stay_id,MV_time_days,stay_id_1,first_ventilation_time,dayThreeTime,stay_id_2,min_pao2fio2ratio_vent,stay_id_3,ventilator_mode_yes
0,35315105,26.583333,35315105,2183-10-19T18:35:00,2183-10-22T18:35:00,35315105,24.000000,35315105,1
1,30514767,3.625000,30514767,2127-02-09T21:27:00,2127-02-12T21:27:00,30514767,25.000000,30514767,1
2,39442549,11.750000,39442549,2144-01-24T15:30:00,2144-01-27T15:30:00,39442549,26.000000,39442549,1
3,35565911,4.958333,35565911,2185-12-15T15:00:00,2185-12-18T15:00:00,35565911,26.000000,35565911,1
4,36422142,10.791667,36422142,2129-09-01T17:00:00,2129-09-04T17:00:00,36422142,27.000000,36422142,1
...,...,...,...,...,...,...,...,...,...
5108,33175269,5.666667,33175269,2167-11-17T14:00:00,2167-11-20T14:00:00,33175269,69.473684,33175269,1
5109,34379501,7.541667,34379501,2132-01-12T18:20:00,2132-01-15T18:20:00,34379501,89.473684,34379501,1
5110,37119620,4.500000,37119620,2163-04-14T16:00:00,2163-04-17T16:00:00,37119620,68.367347,37119620,1
5111,37406379,7.833333,37406379,2138-05-21T10:00:00,2138-05-24T10:00:00,37406379,80.434783,37406379,1
5112,39103057,13.500000,39103057,2185-06-05T14:19:00,2185-06-08T14:19:00,39103057,52.525253,39103057,1

In [1044]:
df_cohort.shape

(5113, 9)

In [1045]:
df_cohort.columns

Index(['stay_id', 'MV_time_days', 'stay_id_1', 'first_ventilation_time',
       'dayThreeTime', 'stay_id_2', 'min_pao2fio2ratio_vent', 'stay_id_3',
       'ventilator_mode_yes'],
      dtype='object')

In [1046]:
df_demographics = pd.read_csv('../../data/dataset_duke_datathon_team6.csv')
df_demographics

,sepsis3,subject_id,hadm_id,stay_id,gender,dod,admittime,dischtime,los_hospital,admission_age,...,eng_prof,insurance,private_insurance,anchor_age,SOFA,charlson_comorbidity_index,discharge_location,dod_1,mortality_in,mortality_90
0,NaN,10000032,29079034,39553978,F,2180-09-09,2180-07-23 12:35:00,2180-07-25 17:55:00,2,52,...,1,Medicaid,0,52,10,3,HOME,2180-09-09,0,1
1,NaN,10000980,26913865,39765666,F,2193-08-26,2189-06-27 07:38:00,2189-07-03 03:00:00,6,76,...,1,Medicare,0,73,2,8,HOME HEALTH CARE,2193-08-26,0,0
2,NaN,10001217,24597018,37067082,F,NaN,2157-11-18 22:56:00,2157-11-25 18:00:00,7,55,...,0,Other,1,55,0,1,HOME HEALTH CARE,NaN,0,0
3,NaN,10001217,27703517,34592300,F,NaN,2157-12-18 16:58:00,2157-12-24 14:55:00,6,55,...,0,Other,1,55,1,1,HOME HEALTH CARE,NaN,0,0
4,NaN,10001725,25563031,31205490,F,NaN,2110-04-11 15:08:00,2110-04-14 15:00:00,3,46,...,1,Other,1,46,1,1,HOME,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73135,True,19999442,26785317,32336619,M,NaN,2148-11-19 10:00:00,2148-12-04 16:25:00,15,43,...,1,Medicaid,0,41,3,4,REHAB,NaN,0,0
73136,True,19999625,25304202,31070865,M,NaN,2139-10-10 18:06:00,2139-10-16 03:30:00,6,82,...,0,Medicare,0,81,6,7,HOME HEALTH CARE,NaN,0,0
73137,NaN,19999828,25744818,36075953,F,NaN,2149-01-08 16:44:00,2149-01-18 17:00:00,10,48,...,1,Other,1,46,1,2,HOME HEALTH CARE,NaN,0,0
73138,True,19999840,21033226,38978960,M,2164-09-17,2164-09-10 13:47:00,2164-09-17 13:42:00,7,58,...,1,Other,1,58,8,2,DIED,2164-09-17,1,1
73139,NaN,19999987,23865745,36195440,F,NaN,2145-11-02 21:38:00,2145-11-11 12:57:00,9,57,...,1,Other,1,57,6,4,REHAB,NaN,0,0

In [1047]:
df_demographics.shape

(73140, 33)

In [1048]:
# Merge the datasets
df = pd.merge(df_cohort, df_demographics, on='stay_id', how='left')
df

,stay_id,MV_time_days,stay_id_1,first_ventilation_time,dayThreeTime,stay_id_2,min_pao2fio2ratio_vent,stay_id_3,ventilator_mode_yes,sepsis3,...,eng_prof,insurance,private_insurance,anchor_age,SOFA,charlson_comorbidity_index,discharge_location,dod_1,mortality_in,mortality_90
0,35315105,26.583333,35315105,2183-10-19T18:35:00,2183-10-22T18:35:00,35315105,24.000000,35315105,1,True,...,1,Other,1,72,5,6,DIED,2183-11-15,1,1
1,30514767,3.625000,30514767,2127-02-09T21:27:00,2127-02-12T21:27:00,30514767,25.000000,30514767,1,True,...,1,Other,1,68,6,4,SKILLED NURSING FACILITY,NaN,0,0
2,39442549,11.750000,39442549,2144-01-24T15:30:00,2144-01-27T15:30:00,39442549,26.000000,39442549,1,True,...,1,Medicare,0,54,1,1,DIED,2144-02-08,1,1
3,35565911,4.958333,35565911,2185-12-15T15:00:00,2185-12-18T15:00:00,35565911,26.000000,35565911,1,True,...,1,Medicare,0,68,4,9,REHAB,NaN,0,0
4,36422142,10.791667,36422142,2129-09-01T17:00:00,2129-09-04T17:00:00,36422142,27.000000,36422142,1,True,...,1,Other,1,60,12,5,DIED,2129-09-12,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5108,33175269,5.666667,33175269,2167-11-17T14:00:00,2167-11-20T14:00:00,33175269,69.473684,33175269,1,True,...,1,Medicare,0,64,7,4,HOME,NaN,0,0
5109,34379501,7.541667,34379501,2132-01-12T18:20:00,2132-01-15T18:20:00,34379501,89.473684,34379501,1,True,...,1,Medicare,0,65,6,5,REHAB,NaN,0,0
5110,37119620,4.500000,37119620,2163-04-14T16:00:00,2163-04-17T16:00:00,37119620,68.367347,37119620,1,True,...,1,Medicaid,0,42,8,1,HOME,NaN,0,0
5111,37406379,7.833333,37406379,2138-05-21T10:00:00,2138-05-24T10:00:00,37406379,80.434783,37406379,1,True,...,1,Other,1,82,11,5,DIED,2138-06-04,1,1
5112,39103057,13.500000,39103057,2185-06-05T14:19:00,2185-06-08T14:19:00,39103057,52.525253,39103057,1,True,...,1,Other,1,61,6,8,DIED,2185-06-20,1,1

In [1049]:
df.shape

(5113, 41)

In [1050]:
df.columns

Index(['stay_id', 'MV_time_days', 'stay_id_1', 'first_ventilation_time',
       'dayThreeTime', 'stay_id_2', 'min_pao2fio2ratio_vent', 'stay_id_3',
       'ventilator_mode_yes', 'sepsis3', 'subject_id', 'hadm_id', 'gender',
       'dod', 'admittime', 'dischtime', 'los_hospital', 'admission_age',
       'race', 'hospital_expire_flag', 'hospstay_seq', 'first_hosp_stay',
       'icu_intime', 'icu_outtime', 'los_icu', 'icustay_seq', 'first_icu_stay',
       'race_group', 'sex_female', 'los_icu_1', 'language', 'eng_prof',
       'insurance', 'private_insurance', 'anchor_age', 'SOFA',
       'charlson_comorbidity_index', 'discharge_location', 'dod_1',
       'mortality_in', 'mortality_90'],
      dtype='object')

In [1051]:
# Mapping to group locations into categories
location_mapping = {
    'HOME': 'Home or equivalent',
    'HOME HEALTH CARE': 'Home or equivalent',
    'ASSISTED LIVING': 'Home or equivalent',
    'AGAINST ADVICE': 'Home or equivalent',
    'DIED': 'Death or hospice',
    'HOSPICE': 'Death or hospice',
    'ACUTE HOSPITAL': 'Other hospital or equivalent',
    'CHRONIC/LONG TERM ACUTE CARE': 'Other hospital or equivalent',
    'OTHER FACILITY': 'Other hospital or equivalent',
    'PSYCH FACILITY': 'Other hospital or equivalent',
    'HEALTHCARE FACILITY': 'Other hospital or equivalent',
    'REHAB': 'Rehab',
    'SKILLED NURSING FACILITY': 'Skilled nursing facility'
}

In [1052]:
df['disposition'] = df.discharge_location.map(location_mapping)
df['disposition']

0               Death or hospice
1       Skilled nursing facility
2               Death or hospice
3                          Rehab
4               Death or hospice
                  ...
5108          Home or equivalent
5109                       Rehab
5110          Home or equivalent
5111            Death or hospice
5112            Death or hospice
Name: disposition, Length: 5113, dtype: object

In [1053]:
df['disposition'].value_counts()

disposition
Death or hospice                1352
Other hospital or equivalent    1267
Home or equivalent               933
Skilled nursing facility         790
Rehab                            765
Name: count, dtype: int64

In [1054]:
df['race_group'].value_counts()

race_group
White       3479
Other        937
Black        408
Hispanic     177
Asian        112
Name: count, dtype: int64

In [1055]:
df['race'].value_counts()

race
WHITE                                        3352
UNKNOWN                                       564
BLACK/AFRICAN AMERICAN                        364
OTHER                                         182
UNABLE TO OBTAIN                              128
WHITE - OTHER EUROPEAN                         67
HISPANIC/LATINO - PUERTO RICAN                 64
ASIAN                                          53
HISPANIC OR LATINO                             51
PATIENT DECLINED TO ANSWER                     42
HISPANIC/LATINO - DOMINICAN                    38
ASIAN - CHINESE                                37
PORTUGUESE                                     28
BLACK/CAPE VERDEAN                             26
WHITE - RUSSIAN                                25
AMERICAN INDIAN/ALASKA NATIVE                  12
ASIAN - ASIAN INDIAN                            9
BLACK/AFRICAN                                   9
BLACK/CARIBBEAN ISLAND                          9
ASIAN - SOUTH EAST ASIAN                        9
HISPANIC/LATINO - GUATEMALAN                    7
MULTIPLE RACE/ETHNICITY                         5
HISPANIC/LATINO - COLUMBIAN                     4
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER       4
HISPANIC/LATINO - SALVADORAN                    4
WHITE - BRAZILIAN                               4
ASIAN - KOREAN                                  4
WHITE - EASTERN EUROPEAN                        3
HISPANIC/LATINO - CENTRAL AMERICAN              3
HISPANIC/LATINO - HONDURAN                      2
HISPANIC/LATINO - MEXICAN                       2
HISPANIC/LATINO - CUBAN                         1
SOUTH AMERICAN                                  1
Name: count, dtype: int64

In [1056]:
# Mapping race group into categories White and Non-white
white_race_dict = {
    'White': 'White',
    'Black': 'Non-white',
    'Hispanic': 'Non-white',
    'Asian': 'Non-white',
    'Other': 'Non-white'
}

In [1057]:
df['white_race'] = df['race_group'].map(white_race_dict)

In [1058]:
df['race_group'].value_counts()

race_group
White       3479
Other        937
Black        408
Hispanic     177
Asian        112
Name: count, dtype: int64

In [1059]:
df['white_race'].value_counts()

white_race
White        3479
Non-white    1634
Name: count, dtype: int64

In [1060]:
df['los_icu_survivors'] = df['los_icu'].where(df['mortality_90'] == 0)

In [1061]:
df['los_icu_expired'] = df['los_icu'].where(df['mortality_90'] == 1)

In [1062]:
df.shape

(5113, 45)

In [1063]:
columns_to_keep = [
      'subject_id', 'hadm_id', 'stay_id', 'gender', 
      'dod', 'admittime','dischtime', 
      'los_hospital', 'admission_age', 'white_race', 'hospital_expire_flag', 
       'hospstay_seq', 'first_hosp_stay', 'icu_intime', 'icu_outtime', 
       'los_icu', 'icustay_seq', 'first_icu_stay', 'race_group',
       'sex_female','los_icu_1', 'language',
       'eng_prof', 'insurance', 'private_insurance',
       'mortality_in', 'mortality_90', 'disposition',
       'white_race', 'los_icu_survivors', 'los_icu_expired',
       'anchor_age', 'charlson_comorbidity_index',
       'discharge_location', 'SOFA'
       ]

In [1064]:
df = df[columns_to_keep]
df

,subject_id,hadm_id,stay_id,gender,dod,admittime,dischtime,los_hospital,admission_age,white_race,...,mortality_in,mortality_90,disposition,white_race,los_icu_survivors,los_icu_expired,anchor_age,charlson_comorbidity_index,discharge_location,SOFA
0,16124682,24817331,35315105,M,2183-11-15,2183-10-19 16:38:00,2183-11-15 18:38:00,27,72,White,...,1,1,Death or hospice,White,NaN,27.17,72,6,DIED,5
1,16277979,21413780,30514767,M,NaN,2127-02-09 20:58:00,2127-02-19 20:04:00,10,69,White,...,0,0,Skilled nursing facility,White,3.79,NaN,68,4,SKILLED NURSING FACILITY,6
2,17172316,26428234,39442549,M,2144-02-08,2143-12-26 21:09:00,2144-02-08 11:30:00,44,54,White,...,1,1,Death or hospice,White,NaN,15.04,54,1,DIED,1
3,12388732,26592796,35565911,M,NaN,2185-12-08 13:13:00,2186-01-01 14:00:00,24,68,White,...,0,0,Rehab,White,11.88,NaN,68,9,REHAB,4
4,11402910,23375177,36422142,F,2129-09-12,2129-08-28 17:57:00,2129-09-12 14:10:00,15,60,White,...,1,1,Death or hospice,White,NaN,11.17,60,5,DIED,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5108,18642064,25378793,33175269,M,NaN,2167-11-17 12:19:00,2167-11-30 12:57:00,13,68,Non-white,...,0,0,Home or equivalent,Non-white,7.38,NaN,64,4,HOME,7
5109,14539351,21502552,34379501,F,NaN,2132-01-12 10:36:00,2132-01-24 14:50:00,12,65,White,...,0,0,Rehab,White,7.92,NaN,65,5,REHAB,6
5110,19893454,28167991,37119620,F,NaN,2163-04-14 00:00:00,2163-04-30 11:57:00,16,42,White,...,0,0,Home or equivalent,White,4.63,NaN,42,1,HOME,8
5111,16164098,23348948,37406379,F,2138-06-04,2138-05-21 07:50:00,2138-06-04 15:55:00,14,82,Non-white,...,1,1,Death or hospice,Non-white,NaN,8.29,82,5,DIED,11
5112,17076438,29332912,39103057,M,2185-06-20,2185-06-05 14:08:00,2185-06-20 05:28:00,15,61,White,...,1,1,Death or hospice,White,NaN,14.63,61,8,DIED,6

In [1065]:
df.shape

(5113, 35)

In [1066]:
df.columns

Index(['subject_id', 'hadm_id', 'stay_id', 'gender', 'dod', 'admittime',
       'dischtime', 'los_hospital', 'admission_age', 'white_race',
       'hospital_expire_flag', 'hospstay_seq', 'first_hosp_stay', 'icu_intime',
       'icu_outtime', 'los_icu', 'icustay_seq', 'first_icu_stay', 'race_group',
       'sex_female', 'los_icu_1', 'language', 'eng_prof', 'insurance',
       'private_insurance', 'mortality_in', 'mortality_90', 'disposition',
       'white_race', 'los_icu_survivors', 'los_icu_expired', 'anchor_age',
       'charlson_comorbidity_index', 'discharge_location', 'SOFA'],
      dtype='object')

In [1067]:
df.head()

,subject_id,hadm_id,stay_id,gender,dod,admittime,dischtime,los_hospital,admission_age,white_race,...,mortality_in,mortality_90,disposition,white_race,los_icu_survivors,los_icu_expired,anchor_age,charlson_comorbidity_index,discharge_location,SOFA
0,16124682,24817331,35315105,M,2183-11-15,2183-10-19 16:38:00,2183-11-15 18:38:00,27,72,White,...,1,1,Death or hospice,White,NaN,27.17,72,6,DIED,5
1,16277979,21413780,30514767,M,NaN,2127-02-09 20:58:00,2127-02-19 20:04:00,10,69,White,...,0,0,Skilled nursing facility,White,3.79,NaN,68,4,SKILLED NURSING FACILITY,6
2,17172316,26428234,39442549,M,2144-02-08,2143-12-26 21:09:00,2144-02-08 11:30:00,44,54,White,...,1,1,Death or hospice,White,NaN,15.04,54,1,DIED,1
3,12388732,26592796,35565911,M,NaN,2185-12-08 13:13:00,2186-01-01 14:00:00,24,68,White,...,0,0,Rehab,White,11.88,NaN,68,9,REHAB,4
4,11402910,23375177,36422142,F,2129-09-12,2129-08-28 17:57:00,2129-09-12 14:10:00,15,60,White,...,1,1,Death or hospice,White,NaN,11.17,60,5,DIED,12

In [1068]:
df.to_csv('../../data/merged_processed_df_team6.csv', index=False)